{{ 'template-contact.js' | asset_url | script_tag }}

<div class="contact">
    <div class="contact__container">
        <div class="contact__title">Contact</div>

        <div class="contact__means">
            <div class="contact__mean">
                <div class="contact__mean-title">
                    Téléphone
                </div>

                <div class="contact__mean-content">
                    + 33 1 34 48 62 01
                </div>
            </div>

            <div class="contact__mean">
                <div class="contact__mean-title">
                    Email
                </div>

                <div class="contact__mean-content">
                    steve.stevenson@gmail.com
                </div>
            </div>

            <div class="contact__mean">
                <div class="contact__mean-title">
                    Adresse
                </div>

                <div class="contact__mean-content">
                    6 rue Molinel, 59800 Lille
                </div>
            </div>
        </div>
    </div>

    <div class="contact__map"></div>
</div>