{{ 'template-histoire.js' | asset_url | script_tag }} 

<div class="histoire">
    <div class="histoire__video">
        <div class="histoire__video-title">
            Notre histoire
        </div>
    </div>

    <div class="histoire__content">
        <div class="histoire__content-container">
            <p>
                Moon Wine veut prétendre à être un concept céleste par sa forme et son contenu.
            </p>

            <p>
                Chaque mois, nous proposons une box contenant deux cuvées d’un même vigneron. L’une sera existante, l’autre exclusive. Des artistes de tout horizon travailleront sur le design des box et les étiquettes des bouteilles, sans aucune limite et avec toute leur liberté d’expression. Notre objectif est simple : transmettre une expérience à tout le monde.
            </p>

            <p>
                Le vin est une magnifique expression culturelle. Donner carte blanche à un artiste et un vigneron nous paraît tellement évident dans la manière de découvrir et de comprendre le vin.
            </p>

            <p>
                C’est pour cette raison que nous avons fait le choix de garder un seul domaine par box, rien n’est écrit à l’avance sur le choix des vins. Parfois, rouge, blanc, orange, rosé, ou pétillant naturel (communément appelé pet’nat) tout dépend d’un seul élément, notre rencontre avec l’Homme.
            </p>

            <p>
                Nous allons arpenter les terroirs sans limite de frontières, nos voyages et nos rencontres vont nourrir tout ce dont nous voulons témoigner et ce que nous souhaitons transmettre.
            </p>

            <p>
                Le fonctionnement de Moon Wine est conforme à nos pratiques digitales quotidiennes. Nous mettrons tout en oeuvre pour réduire au maximum notre empreinte carbone et tout est produit afin que l’ensemble soit recyclable. Cependant nous espérons que chacun d’entre vous collectionnera les Moon Wine Box
            </p>
        </div>

        <div class="histoire__content-box">
            <img src="{{ 'histoire_3.png' | asset_url }}" />
            <img src="{{ 'histoire_4.png' | asset_url }}" />
        </div>
    </div>
</div>