:root {
    --primary-color: rgb(17, 70, 53);
    --secondary-color: #f3f6e7;
    --white-color: #fff;
    --light-green-color: #d9e0c0;
    --orange-color: #dd7129;
    --beige-color: #e2dac3;
    --red-color: #b83d42;
    --yellow-color: #FFDB97;
  
    --title-font-family: "Molgak", sans-serif;
    --text-font-family: "Neutra", sans-serif;
  }
  